body{
    background-color: #fbfbfb;
    background-repeat: repeat-x;
    background-size: 100% 100%;
}
input{
    float: right;
    width: 200px;
    height: 25px;
    border-radius: 10px;
}
.board{
    background: #d9dbd9;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 350px;
}
.form{
    margin: 15px;
    font-size: 20px;
    font-family: "Rubik";
    color: black;
}
.login{
    font-family: "Ruda";
    color: #1b1e23;
    font-size: 50px;
    font-weight: lighter;
}
.masuk{
    justify-content: center;
    background-color: #42c247;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #318f34;
    cursor: pointer;
    color: white;
    font-family: "Rubik";
    height: 43px;
    width: 320px;
    margin-top: 50px;
    transition: 0.50s;
}